.main {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal {
  width: max-content;
  margin: 6rem;
  /* min-width: 1110px; */
  height: 913px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 2.3%;
}