.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  /* margin: 6rem; */
  padding: 2rem 2rem 4.4rem;
  background-color: var(--white);
  border-radius: 2.3%;
  box-shadow: 0 9px 2px -2px #A2A3A7;
}